# Database Config
DATABASE_URL="postgresql://sololearning:solopassword@localhost:5432/sololearning?schema=public"

# Redis Config
REDIS_URL="redis://localhost:6379"

# API Config
PORT=4000
NODE_ENV="development"

# Auth Config
JWT_SECRET="super-secret-jwt-key"
NEXT_PUBLIC_API_URL="http://localhost:4000"
